* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    padding: 0 16px;
    min-height: 100vh;

}

header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

.head-ul {
    list-style-type: none;
    overflow: hidden;
}

.head-li {
    display: block;
    float: right;
    padding: 5px;
}

/* Additional Materialize CSS classes for eye-catching styles */
.head-li a {
    color: #ffffff;
    /* Text color */
    font-weight: bold;
    /* Bold font weight */
    text-transform: uppercase;
    /* Uppercase text */
    padding: 0 10px;
    /* Padding for better spacing */
    transition: color 0.3s;
    /* Smooth transition for color change */
}

.head-li a:hover {
    color: #ff4081;
    /* Hover color */
}

.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 400px;
    margin: 16px;
    float: left;
    cursor: pointer;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #333;
    color: #ccc;
    text-align: center;
}

/* register.css */

/* Container styling */
.register-container {
    max-width: 400px;
    margin-top: 10px;
    margin-left: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

/* Input field styling */
.input-field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Button styling */
.submit-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-sizing: border-box;
}